<h1>Sobre Comic app</h1>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facilis possimus illo totam quis quo, accusamus consectetur aut vero similique quod suscipit non illum unde itaque esse? At, eligendi eos!
</p>