<h1>Resultados de la búsqueda:</h1>

<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
        No existen resultados con el término: {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns">

  <app-heroe-tarjeta [heroe]="heroe" [index]=i *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>