<h1>Héroes <small>Marvel y DC</small></h1>

<hr>

<div class="card-columns">

  <!-- Entre corchetes los inputs y entre parentesis los outputs -->
  <app-heroe-tarjeta  (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]=i *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>